@font-face {
    font-family: 'Knewave Outline';
    src: url('../font/KnewaveOutline.woff2') format('woff2'),
        url('../font/KnewaveOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knewave';
    src: url('../font/Knewave.woff2') format('woff2'),
        url('../font/Knewave.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knewave';
    src: url('../font/Knewave.woff2') format('woff2'),
        url('../font/Knewave.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knewave Outline';
    src: url('../font/KnewaveOutline.woff2') format('woff2'),
        url('../font/KnewaveOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../font/Muli-LightItalic.woff2') format('woff2'),
        url('../font/Muli-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../font/Muli-Light.woff2') format('woff2'),
        url('../font/Muli-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../font/Muli.woff2') format('woff2'),
        url('../font/Muli.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../font/Muli-Italic.woff2') format('woff2'),
        url('../font/Muli-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('../font/NimbusSanL-Bol.woff2') format('woff2'),
        url('../font/NimbusSanL-Bol.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('../font/NimbusSanL-BolIta.woff2') format('woff2'),
        url('../font/NimbusSanL-BolIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('../font/NimbusSanL-RegIta.woff2') format('woff2'),
        url('../font/NimbusSanL-RegIta.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('../font/NimbusSanL-Reg.woff2') format('woff2'),
        url('../font/NimbusSanL-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

